# 1. Harbor 创建 Robot Account: robot$flink+ci-deploy
# 2. 替换下面的 <ROBOT_TOKEN>
apiVersion: v1
kind: Secret
metadata:
  name: harbor-pull-secret
  namespace: flink
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "harbor.yfls.internal": {
          "username": "robot$flink+ci-deploy",
          "password": "<ROBOT_TOKEN>",
          "auth": "<BASE64_OF_robot$flink+ci-deploy:ROBOT_TOKEN>"
        }
      }
    }
